body {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/bk1.jpg");
  image-rendering: optimizeQuality;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  animation-name: intro_pag;
  animation-fill-mode: forwards;
  animation-duration: 300ms;
  overflow-x: hidden;
  animation-iteration-count: 1;
}

.animation-valores-fijos, .crypto-grafico-p-1, .crypto-grafico-p-2, .crypto-grafico-p-3, .crypto-grafico-p-4, .crypto-grafico-p-5 {
  width: 7px;
  height: 7px;
  transition-delay: 0ms;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite; }

.animation-positivo, .crypto-grafico-p-1, .crypto-grafico-p-2, .crypto-grafico-p-4 {
  border: 2px solid green;
  color: green; }

.animation-negativo, .crypto-grafico-p-3, .crypto-grafico-p-5 {
  border: 2px solid red;
  color: red; }

.intro-trade, .menu-about, .login, .form-trade {
  animation-name: intro-trade;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1; }

.about-item-display, #FAQ:target, #Requisitos:target, #Donaciones:target {
  position: absolute;
  z-index: 1;
  display: block;
  animation-name: about-item;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

header {
  opacity: 90%; }

.header_img {
  height: 40px;
  width: 40px;
  position: relative;
  margin-right: 15px; }

footer {
  opacity: 90%; }

.boton-masinfo {
  height: 50px;
  width: 250px; }

.carusel-img {
  height: fit-content;
  width: fit-content; }

.item-menu1 {
  width: 150px; }

.img-txt {
  display: flex;
  flex-direction: row; }

.imagen-main {
  border-radius: 10px;
  border: 3px solid grey;
  padding: 2px;
  opacity: 50%; }

.crypto {
  background-color: #302b2bbd;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: crpt-main;
  animation-duration: 2s; }
  .crypto-contenedor {
    justify-content: space-between;
    margin-top: 45px;
    display: flex;
    border-bottom: 2px solid #696868;
    width: fit-content;
    height: fit-content;
    margin-bottom: 20px; }
  .crypto-nombre {
    margin-right: 20px; }
  .crypto-valor-actual {
    color: greenyellow;
    margin-right: 20px; }
  .crypto-alza-baja {
    color: green;
    margin-right: 20px; }
  .crypto-valor-total {
    margin-right: 20px; }
  .crypto-grafico {
    margin-right: 20px;
    height: 32px;
    width: 115px;
    background-color: #312e2eba;
    border: 1px dashed grey; }
    .crypto-grafico-p-1 {
      animation-name: crypto-grafico-p-1; }
    .crypto-grafico-p-2 {
      animation-name: crypto-grafico-p-2; }
    .crypto-grafico-p-3 {
      animation-name: crypto-grafico-p-3; }
    .crypto-grafico-p-4 {
      animation-name: crypto-grafico-p-4; }
    .crypto-grafico-p-5 {
      animation-name: crypto-grafico-p-5; }

.lista-final {
  width: fit-content;
  justify-self: center; }

.menu-about {
  display: inline-block;
  position: relative;
  color: #0087ca; }
  .menu-about:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.50s ease-out; }

.menu-about:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left; }

.item-about {
  display: none;
  z-index: -1; }

#Nuestra-Historia:target {
  z-index: 1;
  display: block;
  animation-name: about-item;
  animation-duration: 2s;
  animation-fill-mode: forwards; }

.login {
  width: 50vw; }
  .login-img {
    filter: invert(100%); }

.subscribe-form {
  width: 30vw; }

.list-trade {
  opacity: 85%; }

.lista-final {
  width: fit-content;
  justify-self: center;
  background-color: rgba(85, 84, 84, 0.616); }

.form-trade {
  width: 650px; }

@keyframes intro_pag {
  0% {
    opacity: 0%; }
  50% {
    opacity: 70%; }
  100% {
    opacity: 100%; } }

@keyframes crpt-main {
  0% {
    opacity: 0%;
    translate: 1000px; }
  100% {
    opacity: 100%;
    translate: 0px; } }

@keyframes crypto-grafico-p-1 {
  0% {
    translate: 5px 9px; }
  5% {
    translate: 10px 5px; }
  10% {
    translate: 15px 4px; }
  15% {
    translate: 20px 11px; }
  20% {
    translate: 25px 13px; }
  25% {
    translate: 30px 10px; }
  30% {
    translate: 35px 17px; }
  35% {
    translate: 40px 19px; }
  40% {
    translate: 45px 2px; }
  45% {
    translate: 50px 4px; }
  50% {
    translate: 55px 6px; }
  55% {
    translate: 60px 20px; }
  60% {
    translate: 65px 9px; }
  70% {
    translate: 70px 1px; }
  75% {
    translate: 75px 5px; }
  80% {
    translate: 80px 7px; }
  85% {
    translate: 85px 8px; }
  90% {
    translate: 90px 11px; }
  100% {
    translate: 95px 15px; } }

@keyframes crypto-grafico-p-2 {
  0% {
    translate: 5px 9px; }
  5% {
    translate: 10px 3px; }
  10% {
    translate: 15px 6px; }
  15% {
    translate: 20px 10px; }
  20% {
    translate: 25px 9px; }
  25% {
    translate: 30px 5px; }
  30% {
    translate: 35px 14px; }
  35% {
    translate: 40px 16px; }
  40% {
    translate: 45px 12px; }
  45% {
    translate: 50px 14px; }
  50% {
    translate: 55px 16px; }
  55% {
    translate: 60px 20px; }
  60% {
    translate: 65px 14px; }
  70% {
    translate: 70px 7px; }
  75% {
    translate: 75px 5px; }
  80% {
    translate: 80px 7px; }
  85% {
    translate: 85px 0px; }
  90% {
    translate: 90px 1px; }
  100% {
    translate: 95px 8px; } }

@keyframes crypto-grafico-p-3 {
  0% {
    translate: 5px 19px; }
  5% {
    translate: 10px 15px; }
  10% {
    translate: 15px 14px; }
  15% {
    translate: 20px 11px; }
  20% {
    translate: 25px 13px; }
  25% {
    translate: 30px 10px; }
  30% {
    translate: 35px 17px; }
  35% {
    translate: 40px 19px; }
  40% {
    translate: 45px 2px; }
  45% {
    translate: 50px 4px; }
  50% {
    translate: 55px 6px; }
  55% {
    translate: 60px 20px; }
  60% {
    translate: 65px 19px; }
  70% {
    translate: 70px 11px; }
  75% {
    translate: 75px 17px; }
  80% {
    translate: 80px 13px; }
  85% {
    translate: 85px 19px; }
  90% {
    translate: 90px 11px; }
  100% {
    translate: 95px 15px; } }

@keyframes crypto-grafico-p-4 {
  0% {
    translate: 5px 19px; }
  5% {
    translate: 10px 15px; }
  10% {
    translate: 15px 18px; }
  15% {
    translate: 20px 17px; }
  20% {
    translate: 25px 18px; }
  25% {
    translate: 30px 18px; }
  30% {
    translate: 35px 17px; }
  35% {
    translate: 40px 19px; }
  40% {
    translate: 45px 12px; }
  45% {
    translate: 50px 18px; }
  50% {
    translate: 55px 18px; }
  55% {
    translate: 60px 20px; }
  60% {
    translate: 65px 19px; }
  70% {
    translate: 70px 15px; }
  75% {
    translate: 75px 15px; }
  80% {
    translate: 80px 17px; }
  85% {
    translate: 85px 18px; }
  90% {
    translate: 90px 11px; }
  100% {
    translate: 95px 7px; } }

@keyframes crypto-grafico-p-5 {
  0% {
    translate: 5px 10px; }
  5% {
    translate: 10px 9px; }
  10% {
    translate: 15px 8px; }
  15% {
    translate: 20px 7px; }
  20% {
    translate: 25px 6px; }
  25% {
    translate: 30px 5px; }
  30% {
    translate: 35px 4px; }
  35% {
    translate: 40px 3px; }
  40% {
    translate: 45px 2px; }
  45% {
    translate: 50px 1px; }
  50% {
    translate: 55px 13px; }
  55% {
    translate: 60px 14px; }
  60% {
    translate: 65px 15px; }
  70% {
    translate: 70px 16px; }
  75% {
    translate: 75px 17px; }
  80% {
    translate: 80px 18px; }
  85% {
    translate: 85px 19px; }
  90% {
    translate: 90px 20px; }
  100% {
    translate: 95px 21px; } }

@keyframes about-item {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%;
    transition: ease-in;
    translate: 10px; } }

@keyframes intro-trade {
  0% {
    opacity: 0%; }
  100% {
    opacity: 90%; } }

@media (max-width: 600px) {
  footer {
    height: 85px; } }

@media (max-width: 426px) {
  .Nuestra-Historia-foto {
    display: none; }
  .lista-final {
    display: none; } }

@media (max-width: 321) {
  .login-main {
    font-size: 1vw; }
  .form-trade div {
    font-size: xx-small; } }
