body
{
background-image: url(https://images.unsplash.com/photo-1467173572719-f14b9fb86e5f?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=799&q=80);
image-rendering: optimizeQuality;
background-repeat:no-repeat;
background-size:auto;
margin: 0;
animation-name: intro_pag;
animation-fill-mode:forwards;
animation-duration: 3s;
overflow-x: hidden;
animation-iteration-count: 1
}
header
{
opacity: 90%;    
}
.header_img
{
    height: 40px;
    width: 40px;
    position: relative;
    margin-right: 15px;
}
footer
{

opacity: 90%;    
}




@keyframes intro_pag
{
0%
{
    opacity: 0%;
}
50%
{
    opacity: 70%;
}
100%
{
    opacity: 100%;
}
}

@media (max-width:600px)
{
    footer
    {
        height: 85px;
    }
}
