.menu-about
{
    @extend .intro-trade;
    display: inline-block;
    position: relative;
    color: #0087ca;
    &:after{    content: '';
        position: absolute;
        transform: scaleX(0);
        @include dimension(2px,100%);
        bottom: 0;
        left: 0;
        background-color: #0087ca;
        transform-origin: bottom right;
        transition: transform 0.50s ease-out;}
}
  
  .menu-about:hover:after 
    {  
    transform: scaleX(1);
    transform-origin: bottom left;
    }

    .item-about
    {
        display:none;
       z-index: -1;
    }

    #Nuestra-Historia:target
    {
       
        z-index: 1;
      display: block;
      animation-name: about-item;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      
     
    }
    #FAQ:target
    {
        @extend .about-item-display;
    }
    #Requisitos:target
    {
        @extend .about-item-display;
    }
    #Donaciones:target
    {
        @extend .about-item-display;
    }
