#Nuestros-fundadores
{
    margin-top: 200px; 
}
#fundadores
{
height: 250px;
width: 300px;
box-shadow: 0px 0px 3px 0px;
}
#Nuestra-Historia
{
    margin-top: 200px;
}
#preguntas-frecuentes
{
    margin-top: 200px;
}
.Nuestra-Historia-foto
{
    border-radius: 50px;
    border-color: bisque;
}
#requisitos
{
    margin-top: 200px;
    
}

