.boton-masinfo
{
@include dimension(50px,250px);

}
.login
{
    @extend .intro-trade;
    width: 50vw;
    
    
    &-img
    {
        filter: invert(100%);
        @include dimension(10%,10%);
    }
}



.carusel-img
{
    height: fit-content;
    width: fit-content;
}
.item-menu1
{

    width: 150px;
}
.img-txt
{
    display: flex;
    flex-direction: row;
}
.imagen-main
{
    
    border-radius: 10px; 
    border: 3px solid grey;
    padding: 2px;
    opacity: 50%;
}
.iphone
{
    display: flex;
    flex-direction: column;
    align-content: center;
    
    
    &-img
    {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
        div:hover {
             transform:
            perspective(60em)
            rotateX(18deg);
            filter:drop-shadow(rgba(22, 31, 39, 0.42) ,
            rgba(19, 26, 32, 0.08) 0px 35px 75px -35px);
            animation-name: iphone;
            animation-duration: 1s;
              animation-fill-mode: both;
            
          }
    }
}

.crypto
{
    background-color: map-get($map:$palette, $key:"fondo");
    @include dimension(fit-content,fit-content);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: crpt-main;
    animation-duration: 2s;
    &-contenedor
    {
        justify-content: space-between;
        margin-top: 45px;
        display: flex;
        border-bottom: 2px solid map-get($map: $palette, $key:"borderb" );;
        @include dimension(fit-content,fit-content);
        margin-bottom: 20px; 
    }
    &-nombre
    {
        margin-right: 20px;
    }
    &-valor-actual
    {
        color: map-get($map: $palette, $key:"positivo-numero" );
        margin-right: 20px;
    }
    &-alza-baja
    {
        color: map-get($map: $palette, $key:"positivo" );
        margin-right: 20px;
    }
    &-valor-total
    {
        margin-right: 20px;
    }
    &-grafico
    {
        margin-right: 20px;
        @include dimension(32px,115px);
        background-color: #312e2eba;
        border:1px dashed grey;
        &-p-1
        
        {
            @include animation (green);
            animation-name:crypto-grafico-p-1;


        }
        &-p-2
        {
            @include animation (green);
            animation-name:crypto-grafico-p-2;

        }
        &-p-3
        {
            @include animation (red);
            animation-name:crypto-grafico-p-3;

        }
        &-p-4
        {
            @include animation (green);
            animation-name:crypto-grafico-p-4;


        }
        &-p-5
        {
            @include animation (red);
            animation-name:crypto-grafico-p-5;
        }
    }
}
.lista-final
{
    width: fit-content;
    justify-self: center;
}

