
.list-trade
{
    opacity: 85%;
    font-family: 'Quicksand', sans-serif;
}
.lista-final
{
    width: fit-content;
    justify-self: center;
    background-color: rgba(85, 84, 84, 0.616);
}
.form-trade
{
@extend .intro-trade;
    width: 650px;
}
