body
{
    
width: 100vw;
height: 100vh;
background-image: url("/assets/bk1.jpg");
image-rendering: optimizeQuality;
background-repeat:repeat;
background-size:cover;
background-position: center;
margin: 0;
animation-name: intro_pag;
animation-fill-mode:forwards;
animation-duration: 300ms;
overflow-x: hidden;
animation-iteration-count: 1
}

//extends
.animation-valores-fijos
{
    width: 7px;
    height: 7px;
    transition-delay: 0ms;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite
}
.animation-positivo
{
    border: 2px solid green;
    color: green;
}
.animation-negativo
{
    border: 2px solid red;
    color: red;
}
.intro-trade
{
    animation-name: intro-trade;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.about-item-display
{
    position: absolute;
    z-index: 1;
    display: block;
    animation-name: about-item;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}