body
{
width: 100%;
height: 100%;
background-image: url("../assets/bk1.jpg");
image-rendering: optimizeQuality;
background-repeat:repeat;
background-size:cover;
background-position: center;
background-attachment: fixed;
margin: 0;
font-family: 'Quicksand', sans-serif;
animation-name: intro_pag;
animation-fill-mode:forwards;
animation-duration: 300ms;
overflow-x: hidden;
animation-iteration-count: 1
}
.nodal-login
{
cursor: pointer;
}

h1
{
    text-decoration:underline;
    opacity: 70%;
    color: white;
    
}
.div-tit
{
    position: relative;z-index: -1;
}

// //extends

.intro-trade
{
    animation-name: intro-trade;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.about-item-display
{
    position: absolute;
    z-index: 1;
    display: block;
    animation-name: about-item;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

//mixin

@mixin dimension ($height, $width)

{
    height: $height;
    width: $width;
}

@mixin animation ($color)
{
    width: 7px;
    height: 7px;
    transition-delay: 0ms;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    border: 2px solid $color;
    color: $color;
}
//map
$palette:
(
"positivo-numero":greenyellow,
"positivo":green,
"fondo":#302b2bbd,
"about":#0087ca,
"trade":rgba(85, 84, 84, 0.616),
"borderb":#696868
)


